<h3>Tạo Link Bán Hàng & Hình Ảnh</h3>
{% if error_message %}
<div class="error-message">{{ error_message }}</div>
{% endif %}
<form method="post" enctype="multipart/form-data">

    <label for="title">Tên miền shop của bạn:</label>
    <input type="text" id="link_domain_shop" name="link_domain_shop" placeholder="Nhập tên miền shop của bạn" required>

    <label for="title">Tiêu đề bài đăng:</label>
    <input type="text" id="title" name="title" required>

    <label for="description">Mô tả cơ bản:</label>
    <input type="text" id="description" name="description" required>
    
    <label for="link_url">Link sản phẩm tiếp thị liên kết:</label>
    <input type="text" id="link_url" name="link_url" required>

    <label for="image">Chọn hình ảnh:</label>
    <div class="file-input-container">
        <input type="file" id="image" name="image" required>
    </div>

    <button type="submit">Bấm tạo link</button>
</form>

{% if short_link %}
<style>
    h2 {
        color: #333;
        margin: 0;
    }

    .result-image {
        width: -webkit-fill-available;
        border-radius: 3px;
    }

    #h3_c {
        color: #333;
        margin: 0px;
        margin-bottom: 10px;
    }
    
</style>

<script>
    function copyToClipboard(elementId) {
        var copyText = document.getElementById(elementId).textContent;
        var tempInput = document.createElement("input");
        tempInput.style.position = "absolute";
        tempInput.style.left = "-9999px";
        tempInput.value = copyText;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);
        alert("Đã sao chép: " + copyText);
    }

    document.addEventListener('DOMContentLoaded', showPopup);
</script>

<div id="popup-background" class="popup-background"></div>
<div id="result-popup" class="result-popup">
    <div class="result-header">
        <h3 class="result-link-label" id="h3_c">Link được tạo</h3>
        
        <div class="link-container">
            <span id="link-input-1" class="result-link">https://{{ data_link_domain_shop }}{{ short_link }}</span>
            <button class="copy-button" onclick="copyToClipboard('link-input-1')">Sao chép</button>
        </div>
        
    </div>
    <div class="result-details">
        <h3 id="h3_c" class="result-title">{{ data[short_link[1:]].title }}</h3>
        <p class="result-description">{{ data[short_link[1:]].description }}</p>
        <div class="result-image-container">
            <img src="{{ data[short_link[1:]].image_url }}" alt="{{ data[short_link[1:]].title }}" class="result-image">
        </div>
    </div>
    <div class="result-footer">
        <button  onclick="closePopup()">Đóng</button>
    </div>
</div>
{% endif %}
